/*reset css_start*/

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset css_fin*/

/*ヘッダー*/
.header {
    background-color: #663333;
    height: 50px;
}
.header_left{
    float: left;
    color: #ffff;
    font-size: 26px;
    padding-top: 10px;
}
.header_right {
    float: right;
    background-color: #996666;
    display: block;
}
.header_right a {
    display: block;
    line-height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}
/*ヘッダー画像*/
.headline{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightpink;
    display: flex;
    align-content: center;
    justify-content: center;
}

.headline > div {
    display:flex;
    align-items:center;
    justify-content:center;
    width: 33.3%;
}
.headline > div >img {
    width: 100%;
}

.headline > div >.Machya{
    width: 70%;
}

.headline_text{
    font-size:90px;
    float:right;
    width: 869px;
    height: 113px;
    font-style:YuGothic;
    margin-top:100px;
    padding:100px;
    font-weight:bold;
    color: #ffff;
}
.body_background {
    background-color: beige;
}
/*本文：上部*/
.body_top{
    padding:60px 100px;
}
.introduction{

    font-style: YuGothic;
    font-size:35px;
    font-weight: bold ;
    color: #663300;
    margin-bottom: 30px;
    height: 52px;
    letter-spacing: 20px;

}
.main_text{
    font-size: 25px;
    font-style: YuGothic;
    height: 87px;
    color: #996666;
}
.button {
    padding: 10px;
    background-color: rgba(900,900,90,0.7);
    border-radius: 8px;
    color: indianred;
    font-size: 30px;
    margin-top:10px;
    height: 67px;
    box-shadow: 7px 7px #996666;

}
.button:hover {
    background-color: yellow;
    transition: all 0.5s;
}

/*本文：下部*/
.body_bottom{
    justify-content: space-between;
    margin:40px 60px 0px 100px;
    padding-bottom: 60px;
}
.sns {
    font-style: YuGothic;
    font-size:35px;
    font-weight: bold ;
    color: #663300;
    height: 52px;
    letter-spacing: 20px;
}
.YouTube{
    height: 291px;
    padding-right: 50px;
}
.Twitter{
    height: 291px;
    padding-right: 50px;
}
.TwitterReal{
    height: 291px;
}
.body_bottom span {
    padding-right: 50px;
    padding-left: 60px;
    color: #996666;
    font-weight: bold;
}
